@media (max-width: 995px){
    .header{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        padding: 2rem;
        background: var(--bg-color);
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        align-items: center;
    }
}